@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  user-select: none;
}

label {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  color: #c7c7c7;
  display: block;
}

input {
  background-color: #1a1a1a;
  padding: 12px 16px;
  border-radius: 4px;
  display: block;
  width: 37.5rem;
  height: 3.1875rem;
  color: #ffffff;
  font-family: var(--font-manrope);
  outline: none;
}

input::placeholder {
  color: #888888;
}

input[type="text"]:focus {
  border: 1px solid #d3e97a;
}

textarea {
  background-color: #1a1a1a;
  padding: 12px 16px;
  border-radius: 4px;
  display: block;
  width: 37.5rem;
  height: 9.75rem;
  resize: none;
  color: #ffffff;
  font-family: var(--font-manrope);
  outline: none;
}

textarea:focus {
  border: 1px solid #d3e97a;
}

@media (max-width: 768px) {
  input,
  textarea {
    padding: 10px 16px;
    width: 100%;
  }
}

textarea::placeholder {
  color: #888888;
}
